.home-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: linear-gradient(145deg, #ccbd89, #a26f16);
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 2);
}