.base {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-top: 150px;
    max-height: 100vh;
    width: 1000px;
    background-color: rgb(71, 93, 190);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
}