.btn {
    display: none;
}

li {
    margin-top: 5px;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    width: 500px;
}

li:hover {
    transition: 300ms;
    max-width: 90%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 2);
    background-color: rgb(30, 163, 187);
}

li:hover .btn {
    display: inline-block;
}

p {
    padding-top: 10px;
    text-decoration: underline;
}